@model Музыкальный_портал__Music_portal_.Models.MusicStyle

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div>
    <div class="dv1">

        <h1 class="h1_n">Добавление стиля</h1>

        <div class="div_l1 div_l2n1">
            <form asp-action="Create">
                <div class="div_l2 div_l2n" style="height: max-content">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <br />
                    <div class="div_l3n">
                        <div class="div_l4">
                            <label asp-for="StyleName" class="label_l1"></label>
                            <input asp-for="StyleName" class="input1 " type="text" />
                        </div>
                        <span asp-validation-for="StyleName" class="span_error"></span>
                    </div>


                    <div class="div_subm">
                        <input class="input_subm" type="submit" value="Добавить" />
                    </div>

                    <a class="a_navigation" asp-action="Index">На главную страницу</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
