@model Музыкальный_портал__Music_portal_.Models.MusicStyle

@* @{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br />
<br />
<div>
    <div class="dv1">

        <h1 class="h1_n">Удаление стиля</h1>

        <div class="div_l1 div_l2n1">

            <div class="div_l2 div_l2n" style="height: max-content">
                <br />
                <div class="div_l3n">
                    <div class="div_l4">
                        <h3>Вы действительно желаете удалить стиль?</h3>
                        <label class="label_l1" style="font-weight:bold">@Html.DisplayNameFor(model => model.StyleName)</label><br />
                        <label class="label_l1 label_l2">@Html.DisplayFor(model => model.StyleName)</label>
                    </div>
                </div>
                <br />
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <div class="div_subm">
                        <input class="input_subm_del" type="submit" value="Удалить" />
                    </div>
                    <a class="a_navigation" asp-action="Index">На главную страницу</a>
                </form>
            </div>
        </div>
    </div>
</div> *@

<div style="margin-left:10px">
    <h3 style="margin-top:-15px">Вы действительно желаете удалить стиль?</h3>
    <dl class="row">
        <dt style="font-weight:bold">
            @Html.DisplayNameFor(model => model.StyleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StyleName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="input_subm_del inp_sub3" />

    </form>
</div>