@model IEnumerable<Музыкальный_портал__Music_portal_.Models.MusicStyle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div>
    <div class="dv1">
        <h1 class="h1_n">Стили</h1>
        <div class="div_l1 div_l2n1">
            <div class="div_l2 div_l2n wh">
                 
                <hr style="border:none;width:465px" />
                <a class="a_bt1 " asp-action="Create">Добавить стиль</a>

                <div class="div_l3n wh">
                    <div class="div_l4 wh">
                        @if (ViewBag.MusicStyles.Count != 0)
                        {
                            <table class="table1">
                                <thead>
                                    <tr>
                                        <th class="th1"> @Html.DisplayNameFor(model => model.StyleName) </th>
                                        <th class="th1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.MusicStyles)
                                    {
                                        <tr class="tr1">
                                            <td class="td1"> @item.StyleName </td>
                                            <td class="td1">
                                                <a class="a_bt2" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                                                <a class="a_bt2" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br /> <br />
                        }
                        else
                        {
                            <h3 style="width:465px;text-align:center">Стилей нет</h3>
                        }
                    </div>
                </div>  <br /> <br />
            </div>
        </div>
    </div>
</div>